<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/angular")
    @Scripts.Render("~/bundles/moment")
    <script type="text/javascript" src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">$.SyntaxHighlighter.init();</script>
</head>
<body ng-app="homesite" ng-controller="MainCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
        <div class="container">
            <a href="../" class="navbar-brand" style="max-width:250px;">Research & Development</a>
            <div class="nav-collapse collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Projects", "Index", "Projects")
                    </li>
                    <li>
                        @Html.ActionLink("CodeSamples", "Index", "CodeSamples")
                    </li>
                    <li>
                        @Html.ActionLink("Forum", "Index", "Forum")
                    </li>
                    <li>
                        <a href="#">R&D Chat</a>
                    </li>
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                </ul>
            </div>
            @{Html.RenderAction("UserInfo", "Account");}
        </div>
    </div>
    <div class="content-body">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>
            @RenderBody()
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-bottom text-style" style="min-height: 0px;">
        <div class="container">
            <h5>&copy; @DateTime.Now.Year - Mészáros Gábor</h5>
        </div>
    </div>
</body>
</html>
